{% extends "baseTemplate.html" %}

{% block content %}

<div class="row">
    <div class="col d-flex justify-content-center">
        <form method="POST">
            {{ form.csrf_token }}
            <h1 class="display-4">Admin authorisation</h1>
            <div class="form-outline mb-4">
                {{ form.code.label(class_="form-label",type_="label") }}
                {{ form.code(class_="form-control",type="password") }}
            </div>
                {{ form.submission(class_="btn btn-primary btn-block mb-4") }}
        </form>
    </div>
</div>

{% endblock %}